<div class="col-sm-12">
<div class="col-sm-4 card">
    <div class="card-body">
      <h5 class="card-title">Activity One </h5>
      <h6 class="card-subtitle mb-2 text-muted">Have Fun With Children</h6>
      <p class="card-text">
          Try Form Mobile. Some Mobile may not be support
          For those with chidren, this app will keep you busy today. It brings up with the camera and after 30 secs later you can have tiger in your house !.
      </p>
      <a href="https://www.google.com/search?q=tiger&oq=tiger&aqs=chrome..69i57j46j0l2j69i60.1166j0j7&client=ms-android-samsung-gs-rev1&sourceid=chrome-mobile&ie=UTF-8" class="card-link">link</a>
    </div>
  </div>
  <div class="col-sm-4 card">
    <div class="card-body">
      <h5 class="card-title">Activity Two </h5>
      <h6 class="card-subtitle mb-2 text-muted">Develop New Habits</h6>
      <p class="card-text">
        The 21 day rule is a method of doing/saying/being something for 21 days, to make your 'something' become a habit. 
      </p>
    </div>
  </div>
  <div class="col-sm-4 card">
    <div class="card-body">
      <h5 class="card-title">Activity Three </h5>
      <h6 class="card-subtitle mb-2 text-muted">Indoor Activities </h6>
      <p class="card-text">
        BOARD GAMES, WORKOUT, Online Courses , Reading...
      </p>
    </div>
  </div>
</div>