.header {
    text-align: justify;
    color: black;
    font-size: 20px;
  }
  a:link, a:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .bottomText {
    text-align: center;
    color: black;
    font-weight: bold;
  }