<div class="header">
    <h5>Comprehensive list of essential services that will remain operational during the nationwide lockdown. Please don't be Panic</h5>
</div>
<div>
    <h6>Information From News  Room and MHA</h6>
    <div class="row">
    <div class="col-sm-6">
    <ul >
        <li><a href="https://mha.gov.in/sites/default/files/PR_ConsolidatedGuidelinesofMHA_28032020.pdf">Reading One...</a></li> 
        <li><a href="https://www.bloombergquint.com/business/government-expands-list-of-essential-items-to-include-hygiene-products">Reading Two...</a></li>
        <li><a href="https://www.hindustantimes.com/india-news/one-list-of-essential-goods-for-all-states/story-87XRoKWRdvTpCAc3IeNnJO.html">Reading Three...</a></li>
        <li><a href="https://www.jagranjosh.com/general-knowledge/what-is-essential-commodities-act-1955-1585305727-1">Reading Four...</a></li>
        <li><a href="https://www.bloombergquint.com/coronavirus-outbreak/coronavirus-production-of-essential-goods-runs-low-as-manufacturers-face-lockdown-hurdles">Reading Five...</a></li>
        <li><a href="https://www.thehindubusinessline.com/opinion/columns/slate/all-you-wanted-to-know-about-essential-commodities-act/article31143709.ece">Reading Six...</a></li>
    </ul>
</div>
<div class="col-sm-6">
    <ul>
        <li><a href="https://www.bloombergquint.com/business/masks-hand-santizers-declared-essential-commodities">Reading Seven...</a></li>
        <li><a href="https://news.abplive.com/news/india/coronavirus-lockdown-in-india-for-21-days-what-services-will-be-open-what-remains-closed-full-list-1181978">Reading Eight...</a></li>
        <li><a href="https://indiankanoon.org/doc/902835/">Reading Nine...</a></li>
        <li><a href="https://www.investindia.gov.in/team-india-blogs/what-constitutes-essential-services-during-lockdown">Reading Ten...</a></li>
        <li><a href="https://scroll.in/latest/957163/coronavirus-54-year-old-patient-dies-in-tamil-nadu-toll-rises-to-11-in-india">Reading Eleven...</a></li>
        <li><a href="https://www.businesstoday.in/current/corporate/lockdown-update-flipkart-resumes-grocery-essential-services-amazon-in-talks-with-govt/story/399270.html">Reading Twelve...</a></li>
        <li><a href="https://www.indiatoday.in/india/story/coronavirus-centre-advisory-to-states-on-essential-services-1659463-2020-03-25">Reading Fourteen...</a></li>
        <li><a href="https://economictimes.indiatimes.com/news/politics-and-nation/heres-a-list-essential-services-that-will-be-available-during-the-21-day-nationwide-lockdown/articleshow/74798509.cms">Reading fifteen...</a></li>
    </ul>
</div>
<div class="col-sm-12 bottomText">We are Working more on it. Alone we are one drop together an Ocean. <a href="https://docs.google.com/forms/d/e/1FAIpQLSenSxiH15ogh2g8LM2Wg7-I0qr-hWUsQAzckaW1PShMammTcg/viewform?usp=sf_link">Join Us</a> </div>
</div>
</div>