<div class="main-content">
    <div class="faq-header">FQA</div>
    <div class="qa">
        <p class="question">Who are we ?</p>
        <p class="answer">we are team of techies with helping people mindset in whatever ways.</p>
    </div>
    <div class="qa">
        <p class="question">How we gathered the data ?</p>
        <p class="answer">The Project is Inspired by <a href="https://www.covid19india.org/faq">covid19india</a>
        . DashBoard data is from covid19india API and Other Pages data are from News , Government Sites etc.. Data may mistmatch from other sources. Please visit India Government sites to check the latest info.
        </p>
    </div>
</div>
<div class="footer">
     <p>Individually we can be one drop together an ocean. Join us <a href="
        https://t.me/joinchat/OlWRjRo_TDYSrHoTqQjr7g"> Telegram</a></p>
    <p>We are on the way to bring more. This is beta Phase of application</p>
</div>